    @import url('https://fonts.googleapis.com/css?family=Kite+One');
    .introduction {
        /*background-color: #0A192F;
    #0A192F*/
        height: 45vh;
        overflow-y: hidden;
        margin-top: 0vh;
        position: absolute;
        color: #f1f1f1;
        margin-left: 5%;
    }
    
    .datastructure-Algo {
        line-break: auto;
        transition: all 400ms ease-in-out;
    }
    
    nav {
        /* font-family: "Kite One", monospace;
        font-weight: bold; */
        text-align: center;
        font-size: 3vh;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        text-shadow: rgba(255, 255, 255, 0) 2px 2px 2px;
    }
    
    .DScard {
        border: none;
        transition: all 300ms ease-in-out;
    }