.datastructure:hover {
    /* box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 1px 6px 25px 1px rgba(27, 35, 10, 0.39);
    /* -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10; */
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.DScard:hover {
    border: 1px;
    box-shadow: 1px 6px 25px 1px rgba(27, 35, 10, 0.39);
}